p{font-style:italic;
font-weight:bold; font-size:50px; line-height:200%; text-align:center;}
h1 {font-style:italic; font-weight:bold; text-decoration:underline;
text-align:center; color:blue; font-size:100px;}
